.divider {
    background-color: #8C1A18;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 5px;
}

.titulo {
    color: #8C1A18;
    padding: 10px;
    text-align: center;
    font-family: Helvetica;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-salir {
    background-color: white;
    color: #8C1A18; 
    border: 1px solid #8C1A18; 
    border-radius: 5px; 
    width: 25px;     
    height: 25px;    
    padding: 0;      
    display: flex;    
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 12px; 
}

.contenido-editar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
