.divider{
    background-color: #8C1A18;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.titulo{
    color: #8C1A18;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    font-family: Helvetica;
}


mat-select {
    width: 100%; 
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid;
    font-family: Helvetica;
    padding-left: 5px;
    margin-bottom: 16px;
    margin-top: 3px;
}

.mat-select-trigger {
    font-size: 14px; 
}

.mat-select-panel {
    font-size: 14px; 
}