/*.divider{
    background-color: #8C1A18;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.titulo{
    color: #8C1A18;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    font-family: Helvetica;
}


input, mat-select, select {
    width: 100%; 
    font-size: 14px;
    margin-bottom: 24px; 
    border-radius: 5px;
    border: 1px solid;
    font-family: Helvetica;
    padding-left: 5px;
    margin-bottom: 16px;
    margin-top: 3px;
}

.mat-select-trigger {
    font-size: 14px; 
}

.mat-select-panel {
    font-size: 14px; 
}

.error {
    color: red;
    margin-top: -18px; 
    font-size: 12px;
}*/

.divider {
    background-color: #8C1A18;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.titulo {
    color: #8C1A18;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    font-family: Helvetica;
}

input, mat-select, select {
    width: 100%;
    margin-bottom: 25px; 
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid;
    font-family: Helvetica;
    padding-left: 5px;
    margin-top: 3px;
}

/*mat-option {
    margin-bottom: 4px;
}*/

.error {
    color: red;
    font-size: 12px;
    min-height: 16px; 
    margin-top: -16px;
}

.mat-select-trigger, .mat-select-panel  {
    font-size: 14px; 
}

.grid {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.boton-accion {
    transition: background-color 0.3s ease;
    background-color: #8C1A18;
  }
  
  .btn-enabled {
    cursor: pointer;
  }
  
  .btn-disabled {
    background-color: #b3b3b3; 
    cursor: not-allowed;
  }

.form-group {
    position: relative;
}

.boton-ayuda {
    font-size: 11px; 
    padding: 1px 1px; 
    height: auto; 
    min-width: 10px; 
    line-height: 0.8; 
}

.boton-ayuda-dos {
    font-size: 11px; 
    padding: 1px 1px; 
    height: auto; 
    min-width: 10px; 
    line-height: 0.8; 
    background: none; 
    border: none; 
}