<mat-card>
    <mat-card-content>
        <mat-card >
            <mat-card-title class="titulo">{{ "REGISTRAR.TITULO" | translate }}</mat-card-title> 
            <mat-divider class="divider"></mat-divider>
            <mat-card-content>  
                <mat-card>
                    <mat-card-content>  
                        <form [formGroup]="registroForm">
                            <div class="grid">
                                <div class="left-column">
                                    <p class="nombre-input">{{ "FORMULARIO.NOMBRE_DEPENDENCIA" | translate }} 
                                        <button class="boton-ayuda">?   
                                            <span class="tooltip-text">
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_1" | translate }}</p>
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_2" | translate }}</p>
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_3_ALT" | translate }}</p>
                                                <br>
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_3" | translate }}</p>
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_4" | translate }}<span class="check">✔</span></p>
                                                <p>{{ "TOOLTIP.NOMBRE_DEPENDENCIA.PARTE_5" | translate }}</p>
                                            </span>
                                        </button> 
                                    </p>
                                    <input type="text" formControlName="nombre">
                                    <p class="nombre-input">{{ "FORMULARIO.TELEFONO_ASOCIADO" | translate }} <button class="boton-ayuda">?   
                                        <span class="tooltip-text">
                                        <p>{{ "TOOLTIP.TELEFONO.PARTE_1" | translate }}</p>
                                        <p>{{ "TOOLTIP.TELEFONO.PARTE_2" | translate }}</p>
                                        <br>
                                        <p>{{ "TOOLTIP.TELEFONO.PARTE_3" | translate }}</p>
                                        <p>{{ "TOOLTIP.TELEFONO.PARTE_4" | translate }}<span class="check">✔</span></p>
                                        <p>{{ "TOOLTIP.TELEFONO.PARTE_5" | translate }}</p>
                                        </span></button></p>
                                        <input type="text" formControlName="telefono">
                                
                                    <p class="nombre-input">{{ "FORMULARIO.CORREO" | translate }}<button class="boton-ayuda">?   
                                        <span class="tooltip-text">
                                        <p>{{ "TOOLTIP.CORREO.PARTE_1" | translate }}</p>
                                        <br>
                                        <p>{{ "TOOLTIP.CORREO.PARTE_2" | translate }}</p>
                                        <p>{{ "TOOLTIP.CORREO.PARTE_3" | translate }}<span class="check">✔</span></p>
                                        <p>{{ "TOOLTIP.CORREO.PARTE_4" | translate }}</p>
                                    </span></button></p>
                                    <input type="text" formControlName="correo">
                                </div>
                                <div class="right-column">
                                    <p class="nombre-input">{{ "FORMULARIO.TIPO_DEPENDENCIA" | translate }}</p>
                                    <mat-select formControlName="tipoDependencia" multiple>
                                        <mat-option *ngFor="let item of tiposDependencia" [value]="item">
                                            {{item.nombre}}
                                        </mat-option>
                                    </mat-select>

                                    <p class="nombre-input">{{ "FORMULARIO.DEPENDENCIAS_ASOCIADA" | translate }}</p>
                                    <select  formControlName="dependenciaAsociada">
                                        <option> ... </option>
                                        <option *ngFor="let item of dependenciasAsociadas" [ngValue]="item">
                                            {{item.nombre}}
                                        </option>
                                    </select>
                                    <button class="boton-accion" (click)="enviarDependencia()">{{ "FORMULARIO.REGISTRAR" | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>